* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
}

.container {
    background-color: white;
    height: 65vh;
    width: 54vw;
    border-radius: 4px;
    margin: 100px auto;
    position: relative;
}

.carousel-container {
    height: 40vh;
    width: 50vw;
    border-radius: 4px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.space {
    height: 50vh;
}

.title {
    text-align: center;
}

.indicators {
    display: inline;
}

.indicators ul {
    list-style: none inside;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.indicators ul li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    margin: 0 5px;
    cursor: pointer;
}

.current {
    background-color: #ffffff;
}

.previous {
    position: absolute;
    display: inline-block;
    left: 2%;
    top: 50%;
    height: 30px;
    width: 20px;
    background-image: url('https://kei9641.github.io/vanillaJS-carousel/assets/icons/left.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
}

.next {
    position: absolute;
    display: inline-block;
    right: 2%;
    top: 50%;
    height: 30px;
    width: 20px;
    background-image: url('https://kei9641.github.io/vanillaJS-carousel/assets/icons/right.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
}

.slide-input {
    position: absolute;
    top: -30px;
    left: 1%;
}

.slide-status {
    display: none;
}
